{% extends 'perfil.html' %}

{% block form_editar_perfil %}

<div class="container">
    <section class="w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .0rem .0rem 0 0;">
    <div class="row d-flex justify-content-center">
        <div class="col col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                <form method="POST" enctype="multipart/form-data">
                    {{ form_edit.csrf_token }}
                    <legend>Editar Perfil</legend>
                    <div class="mb-3">
                        <fieldset>
                            <div class="form-group">
                                {{ form_edit.username.label(class="form-label") }}
                                {% if form_edit.username.errors %}
                                    {{ form_edit.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_edit.username.errors %}
                                            <span>{{ erro }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_edit.username(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_edit.email.label(class="form-label") }}
                                {% if form_edit.email.errors %}
                                    {{ form_edit.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_edit.email.errors %}
                                            <span>{{ erro }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_edit.email(class="form-control") }}
                                {% endif %}
                            </div>    
                            <div class="form-group">
                                {{ form_edit.foto_perfil.label }}
                                {{ form_edit.foto_perfil(class="form-control-file") }}
                                {% if form_edit.foto_perfil.errors %}
                                    {% for erro in form_edit.foto_perfil.errors %}
                                        <span class="text-danger">{{ erro }}</span> <br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <hr>
                            <p>Cursos</p>
                            {% for campo in form_edit %}
                                {% if 'curso_' in campo.name %}
                                    <div class="form-group">
                                        {{campo (class="form-check-input")}}
                                        {{campo.label (class="form-check-label")}}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </fieldset>
                        {{ form_edit.botao_atualizar_perfil(class="btn btn-outline-primary me-1 flex-grow-1") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}