{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
        <div class="container">
            <h1 style="text-align: center">Usuários</h1>
            {% for usuario in lista_usuarios %}
            <div class="container">
                <section class="w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0;">
                    <div class="row d-flex justify-content-center">
                      <div class="col col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                          <div class="card-body p-4">
                            <div class="d-flex">
                              <div class="flex-shrink-0">
                                <img src= "{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}"
                                  alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                              </div>
                              <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1">{{ usuario.username }}</h5>
                                <p class="mb-2 pb-1">{{ usuario.email }}</p>
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                  <div>
                                    <p class="small text-muted mb-1">Cursos</p>
                                    {% if 'Não informado' in usuario.cursos %}
                                      <p class="mb-0">0</p>
                                    {% else %}
                                      <p class="mb-0">{{ usuario.cursos.split(';')|length }}</p>
                                    {% endif %}
                                  </div>
                                  <div class="px-3">
                                    <p class="small text-muted mb-1">Postagens</p>
                                    <p class="mb-0"> {{ usuario.contar_posts() }} </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
            {% if usuario.cursos != 'Não informado' %}
            <div class="container">
                <section class="w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .0rem .0rem 0 0;">
                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-9 col-lg-7 col-xl-6" style="text-align: center">
                        <strong>Cursos</strong><br>
                        {% for curso in usuario.cursos.split(';') %}
                            <button type="button" class="btn btn-success mt-1" disabled>{{ curso }}</button>
                        {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            {% endif %}
                <hr>
            {% endfor %}
        </div>

{% endblock %}